In [4]:
import pandas as pd
import numpy as np

### üîπ Importing Core Data Analysis Libraries

**Purpose:**  
This cell imports the foundational Python libraries required for data manipulation and numerical computation throughout the project.

---

**Code Explanation:**

- `import pandas as pd`  
  Imports the **Pandas** library, which is used for:
  - Loading datasets (CSV files)
  - Handling tabular data using DataFrames
  - Performing data cleaning, filtering, grouping, and transformation

- `import numpy as np`  
  Imports the **NumPy** library, which provides:
  - Support for numerical operations
  - Mathematical functions and array handling
  - Backend support for Pandas and Scikit-learn computations

The aliases `pd` and `np` are industry-standard conventions that improve code readability and efficiency.

---

**Why This Step Matters:**  
- Pandas and NumPy form the **backbone of data science workflows**
- Almost every preprocessing, feature engineering, and modeling step depends on these libraries
- Many machine learning libraries (including Scikit-learn) internally rely on NumPy arrays

Skipping or misusing these imports would break the entire data pipeline.

---

**Expected Output:**  
- This cell produces **no visible output**
- Successful execution confirms the environment is correctly set up

---

**Pipeline Position:**  
‚úîÔ∏è Project Initialization  
‚úîÔ∏è Required before data loading, cleaning, EDA, and modeling

In [5]:
df = pd.read_csv("../data/raw/bank.csv")

### üîπ Loading the Bank Marketing Dataset

**Purpose:**  
This cell loads the raw Bank Marketing dataset from the local project directory into a Pandas DataFrame for analysis and processing.

---

**Code Explanation:**

- `pd.read_csv()`  
  Reads a CSV (Comma-Separated Values) file and converts it into a Pandas DataFrame.

- `"../data/raw/bank.csv"`  
  - `..` ‚Üí Moves one directory up from the `notebooks/` folder  
  - `data/raw/` ‚Üí Directory where the original, unmodified Kaggle dataset is stored  
  - `bank.csv` ‚Üí The dataset file containing customer, campaign, and subscription data  

Using a **relative path** (instead of an absolute path) ensures:
- Portability across different machines
- Compatibility with GitHub and collaborative environments

- `df =`  
  Stores the dataset in a DataFrame named `df`, which will be used throughout the project.

---

**Why This Step Matters:**  
- This is the **entry point of the entire ML pipeline**
- Keeping the dataset in `data/raw/` preserves the original data (best practice)
- All cleaning, transformation, and feature engineering will operate on copies of this DataFrame

If this step fails, nothing downstream can proceed.

---

**Expected Output:**  
- No direct output is shown
- Successful execution confirms:
  - File path is correct
  - Dataset is readable
  - Environment is properly configured

---

**Pipeline Position:**  
‚úîÔ∏è Data Collection  
‚úîÔ∏è Section 1: Dataset Loading (Kaggle ‚Üí Pandas)

In [6]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

### üîπ Viewing the First Few Records of the Dataset

**Purpose:**  
To quickly inspect the structure, format, and sample values of the dataset after loading it into memory.

---

**Code Explanation:**

- `df.head()`  
  Displays the **first 5 rows** of the DataFrame by default.

This includes:
- Column names
- Sample values for each feature
- Data types inferred visually
- Presence of categorical vs numerical variables

---

**What We Check at This Stage:**

1. **Column Names**
   - Identify feature names
   - Spot the target variable (`deposit`)
   - Detect irrelevant or suspicious columns

2. **Data Types (Visually)**
   - Categorical features: `job`, `marital`, `education`, `contact`, etc.
   - Numerical features: `age`, `balance`, `campaign`, etc.
   - Binary variables: `yes` / `no`

3. **Data Quality Signals**
   - Presence of `"unknown"` values
   - Unexpected symbols or formatting issues
   - Obvious data entry anomalies

---

**Why This Step Matters:**  
- Prevents blind modeling
- Helps plan:
  - Data cleaning strategy
  - Encoding approach
  - Feature engineering ideas

This is the **sanity check** before deeper analysis.

---

**Pipeline Position:**  
‚úîÔ∏è Dataset Collection  
‚úîÔ∏è Initial Data Exploration  
‚úîÔ∏è Foundation for Cleaning & EDA

In [7]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

### üîπ Inspecting the First 10 Rows of the Dataset

**Purpose:**  
To perform a slightly deeper manual inspection of the dataset by viewing the first **10 records**, as required in the assignment instructions.

---

**Code Explanation:**

- `df.head(10)`  
  Displays the first **10 rows** of the DataFrame instead of the default 5.

This provides:
- A broader view of value distributions
- Better visibility of categorical diversity
- Early detection of inconsistencies or anomalies

---

**What We Observe Here:**

1. **Target Variable (`deposit`)**
   - Binary outcome: `yes` / `no`
   - Helps confirm the classification nature of the problem

2. **Categorical Features**
   - `job`, `marital`, `education`, `contact`, `poutcome`
   - Presence of `"unknown"` values becomes evident
   - Confirms need for categorical handling strategies later

3. **Numerical Features**
   - `age`, `balance`, `campaign`
   - Early clues about:
     - Skewness
     - Large ranges
     - Potential outliers

4. **Campaign Interaction Data**
   - Number of contacts (`campaign`)
   - Past outcomes (`poutcome`)
   - Critical for understanding marketing effectiveness

---

**Why This Step Matters:**  
- Fulfills **Section 1 requirement**: *Display first 10 rows*
- Builds intuition about:
  - Feature relevance
  - Cleaning complexity
  - Feature engineering opportunities

Think of this as meeting the customers before predicting their behavior.

---

**Pipeline Position:**  
‚úîÔ∏è Dataset Collection (5 Marks)  
‚úîÔ∏è Initial Human-Level Validation  
‚úîÔ∏è Precursor to `.info()` and `.describe()`

In [8]:
df.shape

(11162, 17)

### üîπ Checking Dataset Dimensions

**Purpose:**  
To understand the **size of the dataset** in terms of rows (observations) and columns (features).

---

**Code Explanation:**

- `df.shape`  
  Returns a tuple in the format:
- (number_of_rows, number_of_columns)


Where:
- **Rows** ‚Üí Individual customers contacted during marketing campaigns
- **Columns** ‚Üí Features describing customer attributes, campaign details, and the target variable (`deposit`)

---

**Why This Step Matters:**

1. **Scale Awareness**
 - Helps estimate computational requirements
 - Guides decisions on:
   - Model complexity
   - Cross-validation strategy
   - Feature engineering depth

2. **Problem Framing**
 - Confirms whether the dataset is:
   - Small (risk of overfitting)
   - Medium (ideal for classical ML)
   - Large (needs optimization)

3. **Sanity Check**
 - Ensures data loaded correctly
 - Detects accidental truncation or duplication

---

**Assignment Relevance:**  
‚úîÔ∏è Explicitly required under **Dataset Collection (5 marks)**

---

**Pipeline Position:**  
‚úîÔ∏è Dataset Loading  
‚úîÔ∏è Dataset Overview  
‚úîÔ∏è Foundation for EDA & Modeling Strategy

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

### üîπ Dataset Structure & Data Types Overview

**Purpose:**  
To examine the **structure of the dataset**, including column names, data types, non-null counts, and memory usage.

---

**Code Explanation:**

- `df.info()`  
  Provides a concise summary of the DataFrame, including:
  - Total number of rows
  - Total number of columns
  - Column names
  - Data types (`int64`, `float64`, `object`, etc.)
  - Count of non-null values per column
  - Memory usage

---

**Key Observations from This Output:**

1. **Target Variable**
   - `deposit` is of type `object`
   - Binary categorical feature (`yes` / `no`)
   - Will need encoding before modeling

2. **Categorical Features (`object`)**
   - `job`, `marital`, `education`, `contact`, `poutcome`, etc.
   - Some contain `"unknown"` values (not counted as nulls)
   - Will require careful handling in data cleaning

3. **Numerical Features**
   - `age`, `balance`, `campaign`, etc.
   - Mostly stored as `int64`
   - Candidates for:
     - Outlier detection
     - Scaling

4. **Missing Values Check**
   - Non-null counts help verify:
     - No actual `NaN` values
     - Hidden missing values may exist as `"unknown"`

---

**Why This Step Matters:**

- Confirms that:
  - Data loaded correctly
  - No unexpected null values
- Guides:
  - Data type corrections
  - Encoding strategy
  - Feature engineering decisions
- Prevents downstream modeling errors

This is where you stop assuming and start knowing.

---

**Assignment Relevance:**  
‚úîÔ∏è Required under **Dataset Collection (5 marks)**  
‚úîÔ∏è Supports **Data Cleaning & Transformation**

---

**Pipeline Position:**  
‚úîÔ∏è Dataset Inspection  
‚úîÔ∏è Preprocessing Planning  
‚úîÔ∏è Modeling Readiness Assessment

In [10]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

### üîπ Statistical Summary of Numerical Features

**Purpose:**  
To generate descriptive statistics for all **numerical columns** in the dataset and understand their distributions, spread, and potential anomalies.

---

**Code Explanation:**

- `df.describe()`  
  Computes summary statistics for numerical features, including:
  - `count` ‚Üí Number of non-null values
  - `mean` ‚Üí Average value
  - `std` ‚Üí Standard deviation (spread)
  - `min` ‚Üí Minimum value
  - `25%`, `50%`, `75%` ‚Üí Quartiles
  - `max` ‚Üí Maximum value

---

**Key Numerical Features Analyzed:**

- **Age**
- **Balance**
- **Campaign** (number of contacts during current campaign)
- Other numerical interaction-related variables

---

**Insights We Look For Here:**

1. **Range & Spread**
   - Large gaps between `min` and `max` suggest possible outliers
   - High standard deviation indicates variability

2. **Skewness Indicators**
   - Mean ‚â† Median (`50%`) hints at skewed distributions
   - Common in financial data like `balance`

3. **Outlier Signals**
   - Extremely high `max` values in:
     - `balance`
     - `campaign`
   - These will require investigation using boxplots and IQR

4. **Data Quality Check**
   - `count` confirms no missing numerical values
   - Confirms readiness for transformation and scaling

---

**Why This Step Matters:**

- Identifies **outliers before they break your model**
- Informs:
  - Feature scaling choices
  - Capping or removal strategies
- Sets up **Section 2.2: Handle Mistakes / Outliers**

This is where statistics quietly warn you before chaos begins.

---

**Assignment Relevance:**  
‚úîÔ∏è Required under **Dataset Collection (5 marks)**  
‚úîÔ∏è Foundation for **Outlier Detection (20 marks)**

---

**Pipeline Position:**  
‚úîÔ∏è Numerical Feature Understanding  
‚úîÔ∏è Preprocessing Planning  
‚úîÔ∏è EDA Readiness